#
# cal3d model configuration file
#
# File written by Misfit Model 3D
# http_//www.misfitcode.com/misfitmodel3d/


path=data/coolkid/

# --- Skeleton ---
skeleton = coolkid.csf

# --- Animations ---
animation=cally_idle.caf
animation=cally_tornado_kick.caf
animation=cally_walk.caf
animation=simpleman_wait.caf
animation=cally_jog.caf
animation=cally_shoot_arrow.caf
animation=cally_wave.caf

# --- Meshes ---
mesh=coolkid.cmf

# --- Materials ---
material=cally_skin.xrf
material=simple_man_SHIRT_TURQUOISE.xrf
material=simple_man_SHOES_WHITE.xrf
material=simple_man_SKIN_CAUCASIAN.xrf
material=simple_man_SLACKS_KHAKI.xrf
material=simple_man_SOCKS_DRK_GREY.xrf

